body {
	background-color: aqua;
}
.main {
	min-width: 760px;
	min-height: 200px;
	font-weight: bold;
}
h1 {
	text-align: center;
	color: green;
}

.preloader {
	width: 32px;
	height: 32px;
	margin: 0 auto;
}
.preloader img {
	width: 32px;
	height: 32px;
}


